<% include ../partials/header %>

<div class="spanclasspubli">

  <img src="../../img/sorry.png" width="300" alt="Noimage">
  <h5 class="publiname-single"><%= publication.content %></h5>
  <p class="publiname-single">Author: <%= publication.author %></p>
  <p class="publiname-single">Genre: <%= publication.genre_type %></p>
  <a class="singlebutton" href='/publications/<%= publication.id %>/edit'> <button type="button" class="btn btn-primary">Edit</button> </a>
  <form method='POST' action='/publications/<%= publication.id %>?_method=DELETE' class='singlebutton'>
     <button type="Submit" value="Delete" class="btn btn-secondary">
    Delete
    </button>
  </form>
  <a class="singlebutton" href='/publications'><button type="button" class="btn btn-light">Back</button></a>
</div>


<% include ../partials/footer %>
