<% include ../partials/header-signedin %>

<div class="table table-hover">
<div class= "edit-publication">
  <h5 class="publiname">Edit this publication:</h5>
  <br></br>
  <form method='POST' action='/publications/<%= publication.id %>?_method=PUT'>
    <input name="id" type="hidden" class="form-control" value="<%= publication.id %>">
    <label for="inputContent">Content</label>
    <input name="content" type="text" class="form-control" value="<%= publication.content %>" />
    <label for="inputYear">Year</label>
    <input name="year" type="text" class="form-control" value="<%= publication.year %>" />
    <label for="inputAuthor">Author</label>
    <input name="author" type="text" class="form-control" value="<%= publication.author %>" />
    <label for="inputPdf">PDF</label>
    <input name="pdf" type="text" class="form-control" value="<%= publication.pdf %>" />
    <label for="inputImage">Image</label>
    <input name="image" type="text" class="form-control" value="<%= publication.image %>" />
    <input type='submit' value='Edit!' />
  </form>
</div>
</div>

<% include ../partials/footer %>
