<% include ../partials/header %>
<br></br>
<table class="table table-hover">
  <h1 class="headline"> Pending Users</h1>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody><% pendingstudents.forEach(function(pendinguser) { %>
    <tr>
      <th scope="row"><%= pendinguser.id %></th>
      <td><%= pendinguser.fullname %></td>
      <td><%= pendinguser.email %></td>
      <!-- <td><a href='/admin/pending/<%= pendinguser.id %>'> More </a></td> -->
      <td><form method='PUT' action='/admin/pending/<%= pendinguser.id%>'>
        <button type="Submit" value="Accept" class="btn btn-secondary">
        Accept
        </button>
      </form>
      <td><form method='POST' action='/admin/pending/<%= pendinguser.id %>?_method=DELETE'>
        <button type="Submit" value="Decline" class="btn btn-secondary">
        Decline
        </button>
    </tr>
  <% }) %></tbody>
</table>
</div>
<br>

<% include ../partials/footer %>
