<% include ../partials/header-signedin %>
<div class="table table-hover">
<div class= "edit-project">
  <h5 class="publiname">Edit this project:</h5>
  <br></br>
  <form method='POST' action='/projects/admin/<%= proje.id %>?_method=PUT'>
    <input name="id" type="hidden" class="form-control" value="<%= proje.id %>">
    <label for="inputContent">Content</label>
    <input name="content" type="text" class="form-control" value="<%= proje.content %>" />
    <label for="inputYear">Date</label>
    <input name="year" type="text" class="form-control" value="<%= proje.year %>" />
    <label for="inputAuthor">Author</label>
    <input name="author" type="text" class="form-control" value="<%= proje.author %>" />
    <label for="inputPdf">PDF Embed Link</label>
    <input name="pdf" type="text" class="form-control" value="<%= proje.pdf %>" />
    <label for="inputImage">Image</label>
    <input name="image" type="text" class="form-control" value="<%= proje.image %>" />
    <input type='submit' value='Edit!' />
  </form>
</div>
</div>

<% include ../partials/footer %>

