<% include ../partials/header %>
<div class="table table-hover">

<div class='proje'>
  <h5 class="publiname-single"><%= proje.content %></h5>
  <p class="publiname-single">Author: <%= proje.author %></p>
  <p class="publiname-single">Genre: <%= proje.genre_type %></p>
  <a href='/projects/<%= proje.id %>/edit' class="btn btn-primary"> Edit </a><br>
  <form method='POST' action='/projects/<%= proje.id %>?_method=DELETE'>
    <button type="Submit" value="Delete" class="btn btn-secondary">
    Delete
    </button>
  </form>
  <a href='/projects' class="btn btn-light">Back</a>

</div>
</div>
<% include ../partials/footer %>

