<% include ../partials/header %>
<div class="table table-hover">
<div class= "edit-project">
  <form method='POST' action='/projects/<%= proje.id %>?_method=PUT'>
    <input name="id" type="hidden" value="<%= proje.id %>">
    <input name="content" type="text" value="<%= proje.content %>" />
    <input name="author" type="text" value="<%= proje.author %>" />
    <input name="genre_type" type="text" value="<%= proje.genre_type %>" />
    <input type='submit' value='Edit!' />
  </form>
</div>
</div>

<% include ../partials/footer %>

